body{
    background-color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Navagation Decoration */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

/* Navagation Bar */

#spotify-logo {
    padding-left: 5px;
    padding-right: 5px;
    max-width: 40px;
    max-height: 40px;
    filter: invert(1);
    align-self: center;
}

.home-button {
    padding: 4px;
    max-width: 20px;
    max-height: 20px;

    filter: invert(1);

    border: 2px solid #b3b3b3;
    border-radius: 100px;
    background-color: #b3b3b3;
}

#search-button {
    padding: 4px;
    margin-left: 10px;
    max-width: 20px;
    max-height: 20px;

    filter: invert(1);

    border: 2px solid #b3b3b3;
    border-radius: 100px;
    background-color: #b3b3b3;
}

#search-bar {
    border: 2px solid #b3b3b3;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    background-color: #b3b3b3;
}

#laundry-basket {
    padding: 4px;
    max-width: 20px;
    max-height: 20px;

    filter: invert(1);

    border: 2px solid #b3b3b3;
    border-radius: 100px;
    background-color: #b3b3b3;
}

/* Login Credentials */
#login-creds {
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 10px;
    margin-right: 10px;

    background-color: #FFFFFF;
}

#sign-in-creds {
    color: #FFFFFF;
}

.install-button {
    color: white;
    padding-left: 8px;
    padding-right: 10px;
}

.seperator {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

#download-icon {
    border: 2px solid #121212;
    filter: invert(70%);
    border-radius: 100%;
    padding: 2px;
    max-width: 10px;
    max-height: 10px;
}

/* Main Layout */

#layout-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    gap: 20px;
}

/* The Aside Tab */
aside {
    border: 2px solid #121212;
    border-radius: 10px;
    background-color: #121212;
    width: 450px;
    min-height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#aside-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 5px;
    padding-right: 5px;

    color: white;
}

#add-button {
    display: flex;

    padding: 4px;
    max-width: 20px;
    max-height: 20px;
    filter: invert(1);
    align-self: center;
}

.aside-content {
    padding: 10px;
    margin: 10px;
    color: white;
}

#aside-container1 {
    border: 2px solid #b3b3b3;
    border-radius: 10px;
    background-color: #b3b3b3;
    margin-right: 5px;
    margin-left: 5px;
}

#aside-container2 {
    border: 2px solid #b3b3b3;
    background-color: #b3b3b3;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

#english {
    display: flex;
    flex-direction: row;
    border: 1px solid  #FFFFFF;
    border-radius: 100px;
    color: white;
    max-width: 100px;
    max-height: 40px;
}

.world-button {
    max-width: 20px;
    max-height: 20px;
    align-self: center;
    filter: invert(1);
    padding-right: 5px;
    padding-left: 5px;
}

.language-selection {
    color: white;
    align-self: center;
}

.create-playlist {
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    margin: 10px
}



/* Legal Links */

.legal-links-container1 {
    margin: 20px;
}

.legal-links-container2 {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.legal-links {
    font-size: 13px;
    color: white;
    margin: 10px;
}

#privacy-choices {
    border: 1px solid #1abc54;
    background-color: #1abc54
}

/* Header Section */
header {
    color: white;
    font-size: 22px;
    padding: 20px;
}

/* Main Section */

main {
    border: 2px solid #121212;
    border-radius: 10px;
    background-color: #121212;
    flex-grow: 1;
    max-width: 1380px;
    min-height: 700px;
    width: 100%;
    padding: 10px;
}

.album-container {
    justify-content: space-between;
    padding: 10px;
    margin: 10px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.album-covers {
    width: 100px;
    height: 100px;
    border-radius: 2.5px;
}

article {
    color: white;
    font-size: 14px;
    text-align: center;
}